.venv
.idea
deploy/.env
deploy/.env
/data
/local_cache
/osrm*
# Python build and distribution artifacts
*.egg-info/
.eggs/
build/
dist/
__pycache__/

# Frontend dependencies & build
frontend/node_modules/
frontend/dist/
